<%function toTitleCase( str ) { %>
    <%return str.split(/\s+/).map( s => s.charAt( 0 ).toUpperCase() + s.substring(1).toLowerCase() ).join( " " );%>
<%  } %>


<h3><%= toTitleCase(username) %> Logged In </h3>

<h3><b>Add a Standard</b></h3>

<form action="/students/asadd/<%= username %>" method="POST">
    <%- include('_asform_fields') %> 
    <button type="submit">Add Standard</button>


<h2><%= toTitleCase(username) %>'s Standards</h2>
<div>
    <ul>
        <% asdata.forEach(asdata => { %>
        <li><%= "AS" + asdata.asname %> 
        <% x = asdata.asdate %> 
        <% y = x.toString() %> 
        <% x = y.slice(0, 16) + "22:00:00" %> 
        <%=" Due Date: " + x %></li><p>
        <% }) %> 
    </ul>
</div>

<br>
<form action="/students/asall/<% username %>" method="GET">
    <button type="submit">See Standards</button>
</form>


