<b><%= username %> Logged In </b>

<form action="/teachers/signup/<%= username %>" method="POST">
    <%- include('_form_fields') %> 
    <button type="submit">Create</button>
</form>

<form action="/teachers/tsignup/<%= username %>" method="POST">
    <%- include('_tform_fields') %> 
    <button type="submit">Create</button>
</form>

<form action="/teachers/asadd/<%= username %>" method="POST">
    <%- include('_asform_fields') %> 
    <button type="submit">Create</button>
</form>

<%function toTitleCase( str ) { %>
    <%return str.split(/\s+/).map( s => s.charAt( 0 ).toUpperCase() + s.substring(1).toLowerCase() ).join( " " );%>
<%  } %>


<h3>Student Standards</h3>
<div>
    <% d = [] %> 
    <% asnames.forEach(asnames => { %>
        <% if(d.includes(asnames.name) == false ){ %> 
            <b><%= toTitleCase(asnames.name) + ":" %> <br></b>
            <% d.push(asnames.name) %> 
            <ul>
                <li><%= "As:" + asnames.asname %>
                <% x = asnames.asdate %> 
                <% y = x.toString() %> 
                <% x = y.slice(0, 16) + "22:00:00" %> 
               <%=" Due Date: " + x %> </h4> <br></li>
            </ul>
        <% } else { %> 
            <ul>
                <li><%= "As:" + asnames.asname %>
                <% x = asnames.asdate %> 
                <% y = x.toString() %> 
                <% x = y.slice(0, 16) + "22:00:00" %> 
                <%=" Due Date: " + x %> </h4> <br></li>
            </ul>
        <% } %> 
    <% }) %> 
    
</div><p></p>
<h3><b>Add A Students Standard</b></h3>
<form action="/teachers/studentasadd/<%= username %>" method="POST">
    <%- include('_asaddform_fields') %> 
    <button type="submit">Create</button>
</form>

<h3><b>Delete A Students Standard</b></h3>
<form action="/teachers/asdelete/<%= username %>" method="POST">
    <%- include('_asdeleteform_fields') %> 
    <button type="submit">Delete</button>
</form>

<h3><b>Update a Due Date</b></h3>
<form action="/teachers/asdate/<%= username %>" method="POST">
    <%- include('_asadatesform_fields') %> 
    <button type="submit">Update</button>
</form>

<p></p>
<form action="/teachers/asall/<%= username %>" method="GET">
    <button type="submit">See Standards</button>
</form>